<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon-->
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <title>Mario Ballestero | About Mario</title>
    <!--Estilos principales-->
    <link rel="stylesheet" href="../styles/main.css">
    <!--Estilos About-->
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
    <!-- Barra superior de Navegacios ==> Topbar -->
    <nav class="topbar_root">
        <!--Logo-->
        <div>
            <img src="../assets/Logo.svg" alt="logoAlt" style="width: 50px; height: 50px;">
        </div>
        <!--Lista de secciones de navegación-->
        <ul>
            <li class="topbar_item"> <a href="../index.html">Home</a> </li>
            <li class="topbar_item"> <a href="./about.html">About me</a> </li>
            <li class="topbar_item"> <a href="./portfolio.html">Portfolio</a> </li>
            <li class="topbar_item"> <a href="./contact.html">Contact me</a> </li>
        </ul>
    </nav>

    <div class="root">
        <!--Contenedor donde hay una breve biografia sober mi. Con un h1 y varios parrafos con un
        span y un link que lleva al Portfolio-->
        <div class="bio">
            <h1>About me</h1>
            <p>I’m <span id="name">Mario</span> , a 21 years old Front-end developer , from Spain .</p>
            <p>After High School, I decided to start an Industrial Engineering Degree.</p>
            <p>
                In October 2018 I decided it was time for a change, so I started to wake up at 6am to study
                programming languages before going into classes. I quickly started to love Programming, and i
                n January 2019 I decided to take the risk and quit my Degree.
                I’ve been studying Front-end development full time.</p>
            <p>
                During this time, I took online courses, read a lot of documentation and study for a Web
                development Certificate of Higher Education (HNC)</p>
            <p>
                Because we know the best way to learn is to practice, I also did a bunch of personal
                projects with the knowledge I gathered from the courses, you can check them on my
                <a id="link_portfolio" href="./portfolio.html">PORTFOLIO</a>.
            </p>
            <p>
                I always want to learn more, do more, and be more. I’m also a firm believer that we
                should never settle.
            </p>
            <p>I’m hard working, super curious, passionate, committed, and also a fast learner!</p>
        </div>

        <!--Cartas con mis Skills tecnologicas SON 3 Cartas-->
        <div class="skills_root">
            <h2>My current stack of languages/technologies is:</h2>
            <div class="skill_content">
                <div class="skill_card">
                    <h4>FRONTEND</h4>
                    <div class="skill_stats">
                        <!--Contenedor de estadistica-->
                        <div class="stat">
                            <h5>React</h5>
                            <div class="bar">
                                <div style="width: 85%;" class="progress"></div>
                            </div>
                        </div>
                        
                        <div class="stat">
                            <h5>Javascript</h5>
                            <div class="bar">
                                <div style="width: 88%;" class="progress"></div>
                            </div>
                        </div>

                        <div class="stat">
                            <h5>Typescript</h5>
                            <div class="bar">
                                <div style="width: 80%;" class="progress"></div>
                            </div>
                        </div>

                        <div class="stat">
                            <h5>HTML5</h5>
                            <div class="bar">
                                <div style="width: 87%;" class="progress"></div>
                            </div>
                        </div>

                        <div class="stat">
                            <h5>CSS3</h5>
                            <div class="bar">
                                <div style="width: 82%;" class="progress"></div>
                            </div>
                        </div>

                        <div class="stat">
                            <h5>React Nat</h5>
                            <div class="bar">
                                <div style="width: 40%;" class="progress"></div>
                            </div>
                        </div>

                        <div class="stat">
                            <h5>Bootstrap</h5>
                            <div class="bar">
                                <div style="width: 70%;" class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skill_card">
                    <h4>DESIGN</h4>
                    <div class="skill_stats">
                        <!--Contenedor de estadistica-->
                        <div class="stat">
                            <h5>Figma</h5>
                            <div class="bar">
                                <div style="width: 65%;" class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="skill_card">
                    <h4>BACKEND</h4>
                    <div class="skill_stats">
                        <!--Contenedor de estadistica-->
                        <div class="stat">
                            <h5>Node</h5>
                            <div class="bar">
                                <div style="width: 80%;" class="progress"></div>
                            </div>
                        </div>
                        
                        <div class="stat">
                            <h5>Express</h5>
                            <div class="bar">
                                <div style="width: 75%;" class="progress"></div>
                            </div>
                        </div>

                        <div class="stat">
                            <h5>Mongo</h5>
                            <div class="bar">
                                <div style="width: 50%;" class="progress"></div>
                            </div>
                        </div>

                        <div class="stat">
                            <h5>MySQL</h5>
                            <div class="bar">
                                <div style="width: 57%;" class="progress"></div>
                            </div>
                        </div>

                        <div class="stat">
                            <h5>Graphql</h5>
                            <div class="bar">
                                <div style="width: 52%;" class="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Seccion para las experiencias laborales-->
        <div class="experiences_root">
            <h2>My experiences</h2>
            <!--Carta para una experiencia-->
            <div class="experience_card">
                <!--Seccion para el logo de la empresa-->
                <div class="logoExp">
                    <img src="../assets/logos/Z1.svg" alt="z1Logo">
                </div>
                <!--Contenido ==> Fechas // Cargo // Breve explicación de lo que se hace-->
                <div class="experience_content">
                    <h6>Sept 2020 - Current</h6>
                    <h4>Junior Front-end Developer</h4>
                    <p>
                        Z1 is a digital product creation studio that is part of Tiny, the Canadian fund 
                        that includes industry benchmarks such as Dribbble or Metalab. He works hand in 
                        hand with companies and technology entrepreneurs to transform their ideas into 
                        digital experiences of the highest level. This is where I develop as a Frontend 
                        Developer, using cutting-edge technologies.
                    </p>
                </div>
            </div>
        </div>

        <!--Seccion para el contenido de mis estudios-->
        <div class="studies_root">
            <h2>Part of my studies</h2>
            <div class="studies_content">
                <div class="study_card">
                    <!--Seccion para el logo-->
                    <div class="logo">
                        <img src="../assets/logos/ADAITS.png" alt="logo">
                    </div>
                    <!--Contenido ==> Fechas // Nombre centro u Organizacion-->
                    <div class="study_content">
                        <h6>Sept 2019 - Jun 2021</h6>
                        <h4>Instituto Tech Superior ADA</h4>
                    </div>
                </div>

                <div class="study_card">
                    <!--Seccion para el logo-->
                    <div class="logo">
                        <img src="../assets/logos/eeff.png" alt="logo">
                    </div>
                    <!--Contenido ==> Fechas // Nombre centro u Organizacion-->
                    <div class="study_content">
                        <h6>Sept 2003 - Jun 2018</h6>
                        <h4>Escuelas Francesas S.A.L.</h4>
                    </div>
                </div>

                <div class="study_card">
                    <!--Seccion para el logo-->
                    <div class="logo">
                        <img src="../assets/logos/Cambridge.svg" alt="logo">
                    </div>
                    <!--Contenido ==> Fechas // Nombre centro u Organizacion-->
                    <div class="study_content">
                        <h6>Aug 2019</h6>
                        <h4>B1 Cambridge</h4>
                    </div>
                </div>

                <div class="study_card">
                    <!--Seccion para el logo-->
                    <div class="logo">
                        <img src="../assets/logos/DELF.png" alt="logo">
                    </div>
                    <!--Contenido ==> Fechas // Nombre centro u Organizacion-->
                    <div class="study_content">
                        <h6>May 2017</h6>
                        <h4>B2 DELF</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Pie de pagina -->
    <footer class="footer_root">
        <!-- Texto para el copyright -->
        <h4>Mario Ballestero © 2020</h4>

        <!-- Lista para mis redes sociales -->
        <!-- El targe="_black" de los links es para abrir en una pestaña nueva -->
        <ul>
            <li class="footer_item">
                <a target="_blank" href="mailto:mariobalrod@gmail.com"><img src="../assets/icons/mail.svg" alt=""></a>
            </li>
        
            <li class="footer_item">
                <a target="_blank" href="https://www.linkedin.com/in/mario-ballestero-rodr%C3%ADguez-0167b819b/"><img src="../assets/icons/linkedin.svg" alt=""></a>
            </li>
        
            <li class="footer_item">
                <a target="_blank" href="https://github.com/mariobalrod"><img src="../assets/icons/github.svg" alt=""></a>
            </li>
        
            <li class="footer_item">
                <a target="_blank" href="https://twitter.com/mariobalrod"><img src="../assets/icons/twitter.svg" alt=""></a>
            </li>
        
            <li class="footer_item">
                <a target="_blank" href="https://www.instagram.com/mariobalrod/" ><img src="../assets/icons/instagram.svg" alt=""></a>
            </li>
        </ul>
    </footer>
</body>
</html>