<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon-->
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <title>Mario Ballestero | My work</title>
    <!--Estilos principales-->
    <link rel="stylesheet" href="../styles/main.css">
    <!--Estilos para el Portfolio-->
    <link rel="stylesheet" href="../styles/portfolio.css">
</head>
<body>
    <!-- Barra superior de Navegacios ==> Topbar -->
    <nav class="topbar_root">
        <!--Logo-->
        <div>
            <img src="../assets/Logo.svg" alt="logoAlt" style="width: 50px; height: 50px;">
        </div>
        <!--Lista de secciones de navegación-->
        <div class="items">
            <div class="topbar_item"> <a href="../index.html">Home</a> </div>
            <div class="topbar_item"> <a href="./about.html">About</a> </div>
            <div class="topbar_item"> <a href="./portfolio.html">Portfolio</a> </div>
            <div class="topbar_item"> <a href="./contact.html">Contact</a> </div>
        </div>
    </nav>

    <div class="root">
        <h1>Portfolio</h1>

        <!--Carta para un Proyecto-->
        <div class="card">
            <!--Imagen descriptiva de la carta-->
            <div class="image">
                <img src="../assets/images/MoviesApp.png" alt="imageAlt">
            </div>

            <!--Contenido de la carta-->
            <div class="content">
                <div class="techs">
                    <span>#REACT</span>
                    <span>#NODE</span>
                    <span>#MONGO</span>
                    <span>#EXPRESS</span>
                    <span>#BOOTSTRAP</span>
                    <span>#CSS3</span>
                    <span>#HOOKS</span>
                </div>
                <div class="titulo">
                    <h4>Movies App</h4>
                </div>
                <div class="description">
                    <p>
                        MoviesApp is an application that allows you to classify movies in lists. 
                        It offers you to keep an order for the movies that you have seen or you want 
                        to see, in addition you can create your own movies lists.
                    </p>
                </div>
                <div class="links">
                    <a class="codes" target="_blank" href="https://github.com/mariobalrod/MoviesApp">CODE</a>
                </div>
            </div>
        </div>

        <!--Carta para un Proyecto-->
        <div class="card">
            <!--Imagen descriptiva de la carta-->
            <div class="image">
                <img src="../assets/images/Pokedex.png" alt="imageAlt">
            </div>

            <!--Contenido de la carta-->
            <div class="content">
                <div class="techs">
                    <span>#REACT</span>
                    <span>#API</span>
                    <span>#REACT-QUERY</span>
                    <span>#CSS3</span>
                </div>
                <div class="titulo">
                    <h4>Pokedex</h4>
                </div>
                <div class="description">
                    <p>
                        This is a Pokedex App doing with technologies like React, React-query, React hooks
                        and css. It takes all Pokemons stats from Pokeapi. This app let you to search Pokemons and
                        watch their stats, types and properties.
                    </p>
                </div>
                <div class="links">
                    <a class="demos" target="_blank" href="https://z1-lab-frontend-mariobalrod.netlify.app/">DEMO</a>
                    <a class="codes" target="_blank" href="https://github.com/mariobalrod/pokedex-z1-lab">CODE</a>
                </div>
            </div>
        </div>

        <!--Carta para un Proyecto-->
        <div class="card">
            <!--Imagen descriptiva de la carta-->
            <div class="image">
                <img src="../assets/images/Instagram.png" alt="imageAlt">
            </div>

            <!--Contenido de la carta-->
            <div class="content">
                <div class="techs">
                    <span>#REACT</span>
                    <span>#FIREBASE</span>
                    <span>#AUTH</span>
                    <span>#STYLED-COMPONENT</span>
                    <span>#CSS3</span>
                    <span>#HOOKS</span>
                </div>
                <div class="titulo">
                    <h4>Instagram Clone</h4>
                </div>
                <div class="description">
                    <p>
                        This app is an Instagram Clone, done with React Js and Firebase, which allow you
                        to create an account, update image, append comments and see other users images.
                    </p>
                </div>
                <div class="links">
                    <a class="demos" target="_blank" href="https://instagram-clone-f9e1f.web.app/">DEMO</a>
                    <a class="codes" target="_blank" href="https://github.com/mariobalrod/instagram-react-clone">CODE</a>
                </div>
            </div>
        </div>

        <!--Carta para un Proyecto-->
        <div class="card">
            <!--Imagen descriptiva de la carta-->
            <div class="image">
                <img src="../assets/images/Node.png" alt="imageAlt">
            </div>

            <!--Contenido de la carta-->
            <div class="content">
                <div class="techs">
                    <span>#JAVASCRIPT</span>
                    <span>#NODE</span>
                    <span>#EJS</span>
                    <span>#EXPRESS</span>
                    <span>#BOOTSTRAP</span>
                    <span>#CSS3</span>
                </div>
                <div class="titulo">
                    <h4>Node First Web</h4>
                </div>
                <div class="description">
                    <p>
                        This is my first app with node and express. It is a sample website with no complex
                        content and with an easy design. The objective of this website was learn server concepts 
                        with javascript with node and express.
                    </p>
                </div>
                <div class="links">
                    <a class="demos" target="_blank" href="https://node-first-web.herokuapp.com/">DEMO</a>
                    <a class="codes" target="_blank" href="https://github.com/mariobalrod/learning-nodejs-express">CODE</a>
                </div>
            </div>
        </div>

        <!--Carta para un Proyecto-->
        <div class="card">
            <!--Imagen descriptiva de la carta-->
            <div class="image">
                <img src="../assets/images/TaskApp.png" alt="imageAlt">
            </div>

            <!--Contenido de la carta-->
            <div class="content">
                <div class="techs">
                    <span>#HANDLEBARS</span>
                    <span>#NODE</span>
                    <span>#MONGO</span>
                    <span>#EXPRESS</span>
                    <span>#BOOTSTRAP</span>
                    <span>#AUTH</span>
                </div>
                <div class="titulo">
                    <h4>Tasks App</h4>
                </div>
                <div class="description">
                    <p>
                        CRUD tasks App with Authentication using Nodejs, Express and Mongodb. This app allow
                        me to learn first time CRUD with javascript and mongo. Is a saple app wich use handlebars
                        for client side.
                    </p>
                </div>
                <div class="links">
                    <a class="codes" target="_blank" href="https://github.com/mariobalrod/TaskApp">CODE</a>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Pie de pagina -->
    <footer class="footer_root">
        <!-- Texto para el copyright -->
        <h4>Mario Ballestero © 2020</h4>

        <!-- Lista para mis redes sociales -->
        <!-- El targe="_black" de los links es para abrir en una pestaña nueva -->
        <ul>
            <li class="footer_item">
                <a target="_blank" href="mailto:mariobalrod@gmail.com"><img src="../assets/icons/mail.svg" alt=""></a>
            </li>
        
            <li class="footer_item">
                <a target="_blank" href="https://www.linkedin.com/in/mario-ballestero-rodr%C3%ADguez-0167b819b/"><img src="../assets/icons/linkedin.svg" alt=""></a>
            </li>
        
            <li class="footer_item">
                <a target="_blank" href="https://github.com/mariobalrod"><img src="../assets/icons/github.svg" alt=""></a>
            </li>
        
            <li class="footer_item">
                <a target="_blank" href="https://twitter.com/mariobalrod"><img src="../assets/icons/twitter.svg" alt=""></a>
            </li>
        
            <li class="footer_item">
                <a target="_blank" href="https://www.instagram.com/mariobalrod/" ><img src="../assets/icons/instagram.svg" alt=""></a>
            </li>
        </ul>
    </footer>
</body>
</html>